-e git://github.com/jqnatividad/ckanext-officedocs.git#egg=ckanext-officedocs
-e git://github.com/servercode/ckanext-report.git#egg=ckanext-report
-e git://github.com/ckan/ckanext-harvest.git#egg=ckanext-harvest
-e git://github.com/ckan/ckanext-spatial.git#egg=ckanext-spatial
-e git://github.com/ckan/ckanext-dcat.git#egg=ckanext-dcat
-e git://github.com/NaturalHistoryMuseum/ckanext-dev.git#egg=ckanext-dev
-e git://github.com/ckan/ckanext-googleanalytics.git#egg=ckanext-googleanalytics
-e git://github.com/datagovau/ckanext-ga-report.git#egg=ckanext-ga-report
ckanext-geoview==0.0.12
pyOpenSSL==18.0.0
geoalchemy2==0.5.0
lxml==4.6.2
shapely==1.6.4
ckanapi==4.1
OWSLib==0.17.0
ckanext-sentry==0.0.2
ckanext-xloader==0.3.1
requests[security]
messytables==0.15.2
psycopg2==2.7.3
